<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-user-add" th:object="${lable}">
        <input class="form-control" type="hidden" name="id" id="id" th:field="*{id}">
        <div class="form-group">
            <label class="col-sm-3 control-label ">标签名称：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="labelName" id="labelName"  th:field="*{labelName}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">指标状态：</label>
            <div class="col-sm-8">
                <div class="onoffswitch">
                    <input type="checkbox" th:checked="${lable.status == 1 ? true : false}" class="onoffswitch-checkbox" id="status" name="status">
                    <label class="onoffswitch-label" for="status">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script th:inline="javascript">
    $("#form-user-add").validate({
        rules: {
            labelName: {
                required: true,
            },
            status: {
                required: true,
            },
            messages: {}
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            add();
        }
    }

    function add() {
        var id = $("#id").val();
        var labelName = $("#labelName").val();
        var status = $("input[name='status']").is(':checked') == true ? 1 : 0;
        $.ajax({
            cache : true,
            type : "POST",
            url : "../../../bigdata/staff/updateLables",
            data : {
                "id": id,
                "labelName": labelName,
                "status": status,
            },
            async : false,
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                $.operate.saveSuccess(data);
            }
        });
    }
</script>
</body>
</html>
