<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">

            <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
                <div class="box-header box_bg">
                    <h3 class="box-title col-md-12" style="padding: 8px 0;">指标管理 / 指标设置</h3>
                </div>
            </div>

			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:jobsatadd:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:jobsatadd:remove')}]];
        var prefix = ctx + "bigdata/staff";
        console.info([[${depts}]]);
        $(function() {
            $("#firstType").click();
            var options = {
                url: prefix + "/updateTagStatus",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "员工饱和度",
                search: false,
                showSearch: false,
                showExport: false,
                showRefresh: false,
                sortStable: true,
                showColumns: false,
                showToggle: false,
                columns: [
				{
					field : 'id',
					title : '编号',
                    width: '25%'
				},
				{
					field : 'tagmc',
					title : '标签简称'
				},
				{
					field : 'tagname',
					title : '标签名称'
				},
                {
                    title: '选择',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if (row.status == '1') {
                            actions.push('<span style="display: inline-block;vertical-align: middle;"><input style="width:15px;height:15px;" class="radiobtn" type="radio" name="'+row.id+'" value="1"  checked="checked" /></span> 启用 ');
                            actions.push('<span style="display: inline-block;vertical-align: middle;"><input style="width:15px;height:15px;margin-left: 10px;" class="radiobtn"  type="radio" name="'+row.id+'" value="0" /></span> 禁用');
                        } else {
                            actions.push('<span style="display: inline-block;vertical-align: middle;"><input class="radioInput" style="width:15px;height:15px;" class="radiobtn" type="radio" name="'+row.id+'" value="1" /></span> 启用');
                            actions.push('<span style="display: inline-block;vertical-align: middle;"><input class="radioInput" style="width:15px;height:15px;margin-left: 10px;" class="radiobtn" type="radio" name="'+row.id+'" value="0"  checked="checked" /></span> 禁用');
                        }
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);

            $('body').on('input click', '.radiobtn', function (event) {
                var str = $(this).val();
                var strr = $(this).attr("name");
                $.ajax({
                    url: prefix + "/testUpdate",
                    data: {id:strr,status:str},
                    cache: false,
                    type: "post",
                    datatype: "text",
                });
            })
        });
    </script>
</body>
</html>