<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<script th:src="@{../../plugins/echars/js/echarts.min.js}"></script>
<style>
	.fixed-table-pagination{display: none !important;}
    .echarts-box{height: 540px;width:65%;margin: 0 auto;margin-top: 28px;right: 70px;}
    .content-header h1{margin-bottom: 20px;}
    .selectStyle{height: 30px;width: 180px;margin:0 30px 2px 0;border: 1px solid #A9A9A9;}
    .box-meter{height: 250px;width: 350px;text-align: center;}
    .box-meterT{height: 15px;text-align: center;margin-top: 40px;}
    .box-meterB{height: 15px;text-align: center;}
    .fl{float: left;}.fr{float: right;}
</style>
<body class="gray-bg">

<div class="container-div">
	<div class="row">
		<div class="col-sm-12 search-collapse">
			<form id="formId">
				<div class="select-list">
                    <div class="col-sm-11">
                        <ul>
                            <div class="col-sm-12">
                                <li class="col-sm-4">
                                    部　　门：
                                    <select name="department" id="department" class="m-b">
                                        <option>全部</option>
                                    </select>
                                </li>
                                <li class="col-sm-4">
                                    员　　工：
                                    <select name="mailname" id="mailname" class="m-b">
                                        <option>全部</option>
                                    </select>
                                </li>
                            </div>
                            <div class="col-sm-12">
                                <li class="select-time" style="margin: 0;">
                                <li class="col-sm-4">
                                    起始时间：<input type="text" style="padding-left:10px;"　autocomplete="off" id="startTime" class="startTime" placeholder="开始时间" name="params[beginTime]"/>
                                </li>
                                <li class="col-sm-4">
                                    结束时间：<input type="text" style="padding-left:10px;" id="endTime"　autocomplete="off" class="endTime" placeholder="结束时间" name="params[endTime]"/>
                                </li>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="col-sm-1 pull-right">
                        <a class="btn btn-primary btn-rounded btn-sm page-btn" id="search"><i class="fa fa-search"></i>&nbsp;搜索</a>
                        <a class="btn btn-warning btn-rounded btn-sm page-btn" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                    </div>
				</div>
			</form>
		</div>

        <div class="col-sm-12 select-info box_wrap">
            <div class="box-header box_bg_center" style="margin-bottom: 30px;">
                <h3 class="box-title" style="padding: 15px;">饱和度平均值</h3>
            </div>
            <div class="clearfix">
                <div class="fl">
                    <div class="box-meter box-meterT">饱和度加法(8:30-17:30)</div>
                    <div class="box-meter" id="meter-add"></div>
                    <div class="box-meter box-meterB">饱和度加法(全天)</div>
                    <div class="box-meter" id="meter-down"></div>
                </div>
                <div class="box-header echarts-box fr" id="main"></div>
            </div>
        </div>
	</div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:jobdataall:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:jobdataall:remove')}]];
    var prefix = ctx + "bigdata/jobdata";
    //二级下拉列表
    var listproject = [[${depts}]];
    $(function() {
        var projectlist = [];
        projectlist.push("<option value=''>全部</option>");
        for (var i=0;i<listproject.length;i++) {
            projectlist.push("<option value='"+listproject[i].id+"'>"+listproject[i].department+"</option>");
        }
        $("#department").html(projectlist.join(""));
        // 群列表
        $("#department").change(function () {
            for (var i=0;i<listproject.length;i++) {
                var charlist = [];
                charlist.push("<option value=''>全部</option>");
                if(listproject[i].id == $("#department").val()){
                    for (var j=0;j<listproject[i].employeeList.length;j++) {
                        charlist.push("<option value='"+listproject[i].employeeList[j].cn_name+"'>"+listproject[i].employeeList[j].cn_name+"</option>");
                    }
                    $("#mailname").html(charlist.join(""));
                    return;
                }else{
                    $("#mailname").html(charlist.join(""));
                }
            }
        });
        search();
        $("#search").click(function () {
            search();
        });
    });

    function search() {
        var data = {};
        data.mailname = $("#department").val();
        data.department = $("#mailname").val();
        data.startime = $("#").val();
        data.endtime = $("#").val();
        $.ajax({
            //要用post方式
            type: "post",
            //方法所在页面和方法名
            url :"../../bigdata/main/empSearchAverSat",
            data: data,
            cache : false,
            success : function(data) {
                //返回的数据用data.d获取内容
                var data = eval("("+data+")");
                var date = [];
                var dataAdd = [];
                var dataDwon = [];
                var empName = [];
                var meanAdd =0;
                var meanDown =0;
                var avgAdd =0;
                var avgDown =0;
                for (var i=0;i<data.length;i++)
                {
                    date[i]=data[i].date;
                    dataAdd[i]=data[i].saturabilityAdd;
                    dataDwon[i]=data[i].saturabilityDown;
                    empName[i]=data.mailname;
                    meanAdd=meanAdd+Number(dataAdd[i]);
                    meanDown=meanDown+Number(dataDwon[i]);
                };
                if(dataAdd.length==0)
                {
                    avgAdd=0;
                    avgDown=0;
                }
                else{
                    avgAdd=meanAdd/(dataAdd.length)*100;
                    avgAdd=avgAdd.toFixed(2);
                    avgDown=meanDown/(dataDwon.length)*100;
                    avgDown=avgDown.toFixed(2);
                }
                var list = [];
                var sumAdd = [];
                var sumDown = [];
                var avg = [];
                var date1 = [];
                for (var i = 0; i < date.length; i++)
                {
                    var m=0;
                    var n=0;
                    var q=0;
                    var count = 0;
                    if(date[i]==undefined)
                    {
                        continue;
                    }
                    var listTem=[];
                    var temp=date[i];
                    listTem.push(temp);
                    listTem.push(i);
                    for(var j=i;j<date.length;j++)
                    {
                        if(temp==date[j]&&date[j]!=undefined)
                        {
                            listTem.push(j);
                            //arr[j]=-1;
                            delete date[j];
                            m=m+Number(data[j].saturabilityAdd);
                            n=n+Number(data[j].saturabilityDown);
                            count++;
                        }
                    }
                    list.push(listTem);
                    m=m/(count);
                    n=n/(count);
                    q=(m+n)/2;
                    m=(m*100).toFixed(2);
                    n=(n*100).toFixed(2);
                    q=(q*100).toFixed(2);
                    sumAdd.push(m);
                    sumDown.push(n);
                    avg.push(q);
                }
                for(var k=0;k<list.length;k++)
                {
                    var lk=list[k];
                    var s="数组中值为"+lk[0]+"相同元素的下标为";
                    for(var a=1;a<lk.length;a++)
                    {
                        s=s+lk[a]+",";
                    }
                    //alert(s);
                    date1.push(lk[0]);
                }
                //仪表盘 饱和度加法
                var meterChart = echarts.init(document.getElementById('meter-add'));
                meterOption = {
                    tooltip : {
                        formatter: "{a} <br/>{b} : {c}%"
                    },
                    series: [
                        {
                            name: '业务指标',
                            type: 'gauge',
                            detail: {
                                formatter:'{value}%',
                                offsetCenter : [0, '75%'],
                                textStyle: {
                                    fontSize : 30
                                }
                            },
                            data: [{value: avgAdd, name: '饱和度'}],
                            title : {
                                show : true,
                                offsetCenter: [0, '-20%'],       // x, y，单位px
                            },
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                meterChart.setOption(meterOption);
                //仪表盘 饱和度减法
                var meterDownChart = echarts.init(document.getElementById('meter-down'));
                meterDownOption = {
                    tooltip : {
                        formatter: "{a} <br/>{b} : {c}%"
                    },
                    series: [
                        {
                            name: '业务指标',
                            type: 'gauge',
                            detail: {
                                formatter:'{value}%',
                                offsetCenter : [0, '75%'],
                                textStyle: {
                                    fontSize : 30
                                }
                            },
                            data: [{value: avgDown, name: '饱和度'}],
                            title : {
                                show : true,
                                offsetCenter: [0, '-20%'],       // x, y，单位px
                            },
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                meterDownChart.setOption(meterDownOption);
                //折柱混合图
                var myChart = echarts.init(document.getElementById('main'));
                var option = {
                    tooltip: {
                        trigger: 'axis',
                        formatter:'{b}<br/>{a0}:{c0}%<br/>{a1}:{c1}%<br/>{a2}:{c2}%'
                    },
                    toolbox: {
                        feature: {
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    legend: {
                        data:['饱和度加法(8:30-17:30)','饱和度加法(全天)','平均值']
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: date1,
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '饱和度',
                            axisLabel: {
                                formatter: '{value} '
                            }
                        },
                        {
                            type: 'value',
                            name: '平均',
                            axisLabel: {
                                formatter: '{value} '
                            }
                        }
                    ],
                    series: [
                        {
                            name:'饱和度加法(8:30-17:30)',
                            type:'bar',
                            data:sumAdd,
                        },
                        {
                            name:'饱和度加法(全天)',
                            type:'bar',
                            data:sumDown,
                        },
                        {
                            name:'平均值',
                            type:'line',
                            yAxisIndex: 1,
                            data:avg,
                        }
                    ]
                };
                console.log(option)
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
                //alert(JSON.stringify(avgDown));
            },
            error :function(data){
                //请求失败处理函数
                alert("error:"+data.responseText);
            }
        });
    }
</script>
</body>
</html>