<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pl.web.dao.EmpLabelDAO">

	<!-- 用户标签结果表的插入 -->
	<insert id="insert" parameterType="com.pl.web.model.EmpLabel" useGeneratedKeys="true"
		keyProperty="id">
		replace into ultimatel_emp_label (user_id,label_id,copute_date) 
		values(#{userId},#{labelId},#{coputeDate})
	</insert>
    <select id="selectByUserId" resultType="com.pl.web.dto.EmpLabelResult">
		SELECT
		base.cn_name AS userName,
		base.department AS departmentName,
		lab.label_name AS labelName,
		u_label.copute_date AS computeDate
		FROM
		base_info AS base
		LEFT JOIN ultimatel_emp_label AS u_label ON base.mail_name =
		u_label.user_id
		LEFT JOIN emp_lable AS lab ON u_label.label_id = lab.id
		WHERE
		base.department_id = #{departmentId} AND
		base.cn_name LIKE #{cnName}
	</select>
</mapper>