<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pl.web.dao.EmpQualityResultDAO">
	<insert id="insert" parameterType="com.pl.web.model.EmpQualityResult" useGeneratedKeys="true">
	    DELETE FROM emp_quality_result  WHERE mail_name=#{mailName}  AND compute_date=#{computeDate};
		replace into emp_quality_result(mail_name,quality_result,compute_date) 
		value(#{mailName},#{qualityResult},#{computeDate})
	</insert>
	<select id="selectAll" resultType="com.pl.web.model.EmpQualityResult">
		select * from emp_quality_result
	</select>
	
	<select id="resultCount" resultType="java.lang.Integer">
         SELECT count(*)
		   FROM emp_quality_result e  
		   WHERE 1=1   
		   <if test="computeDate  != null">
		     AND  e.`compute_date`=#{computeDate}
		   </if>
		   <if test="department_id  != null">
		    AND e.`mail_name` IN 
		   (SELECT mail_name FROM base_info 
		       WHERE department_id=#{department_id})
		    </if>   
	</select>
    
    <select id="select" resultType="com.pl.web.model.QualityResultPage">
    SELECT   e.`id`  AS "id" , b.`cn_name`,b.`department`,e.`mail_name`,e.`quality_result`,e.`compute_date` 
     FROM emp_quality_result e LEFT JOIN base_info b ON b.`mail_name`=e.`mail_name`
		   WHERE 1=1   
		   <if test="computeDate  != null ">
		     AND  e.`compute_date`=#{computeDate}
		   </if>
		   <if test="department_id  != null ">
		    AND e.`mail_name` IN 
		   (SELECT mail_name FROM base_info 
		       WHERE department_id=#{department_id})
		    </if>   
		  ORDER BY e.`compute_date` DESC 
		   limit #{index},#{length}
	</select>
	
	<update id="updateResult" parameterType="com.pl.web.model.EmpQualityResult">
		update emp_quality_result 	
		set quality_result = quality_result + #{qualityResult},compute_date = #{computeDate}
		where mail_name = #{mailName}
	</update>
</mapper>
