<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pl.web.dao.SearchDataMapper">
 <resultMap type="SerachData" id="Result" >
        <result property="id" column="id" />
        <result property="department" column="department" />
         <result property="employee_account" column="employee_account" />
          <result property="employee_name" column="employee_name" />
          <result property="job_content" column="job_content" />
          <result property="start_time" column="start_time" />
          <result property="end_time" column="end_time" />
          <result property="kword_count" column="kword_count" />
          <result property="kword" column="kword" />
    </resultMap>
<select id="getSerachDataSize" resultType="java.lang.Integer">
 select count(*) from index_search_data
</select>
<select id="list" resultMap="Result">
 select a.id,b.department,a.employee_account,a.employee_name,
 a.job_content,a.start_time,a.end_time
 from index_search_data a left join department_index b 
 on a.department=b.id
</select>
  
<select id="sumte" resultType="com.pl.web.model.JobTime">
 select  a.`employee_account` as "account",
  a.`employee_name` as "name",
  SUM(a.`end_time`) AS "jobTime" , 
     COUNT(*)  AS "sum" ,
     a.`job_content`  AS "content"  ,
     a.`department` AS "depart",
      b.`id`  AS "depId"
     FROM index_search_data  a ,department_index b WHERE  a.`department`=b.`department`
 AND   a.`start_time` >= #{startTime}
 AND  #{endTime}  >= a.`start_time` GROUP BY a.`employee_name`
  ORDER BY a.`start_time`  DESC;  
</select>

</mapper>