<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pl.web.dao.UrlIndexDao">
 <resultMap type="UrlIndex" id="Result" >       
        <result property="urlType_name" column="urltype_name" />
         <result property="urlType" column="url_type" />
    </resultMap>
<select id="getUrlindexs" resultMap="Result">
select * from urltype_index
</select>
</mapper>