<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-user-add" th:object="${usermac}">
        <input class="form-control" type="hidden" name="id" id="id" th:field="*{id}">
        <div class="form-group">
            <label class="col-sm-3 control-label ">域账户：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="userName" id="userName" th:field="*{userName}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">中文名：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="cnName" id="cnName" th:field="*{cnName}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">MAC地址：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="mac" id="mac" th:field="*{mac}">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script th:inline="javascript">
    $("#form-user-add").validate({
        rules: {
            userName: {
                required: true,
            },
            cnName: {
                required: true,
            },
            mac: {
                required: true,
                remote: {
                    url: ctx + "bigdata/wifidata/isMacExitByid",
                    type: "post",
                    dataType: "json",
                    data: {
                        "mac": function () {
                            return $.common.trim($("#mac").val());
                        },
                        "id": function () {
                            return $.common.trim($("#id").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            messages: {
                mac: {
                    remote: "此MAC地址已经存在,请不要重复添加"
                }
            }
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            add();
        }
    }

    function add() {
        var id = $("#id").val();
        var userName = $("#userName").val();
        var cnName = $("#cnName").val();
        var mac = $("#mac").val();
        $.ajax({
            cache : true,
            type : "POST",
            url : "../../../bigdata/wifidata/UpdateUserMac",
            data : {
                "id": id,
                "userName": userName,
                "cnName": cnName,
                "mac": mac,
            },
            async : false,
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                $.operate.saveSuccess(data);
            }
        });
    }
</script>
</body>
</html>
